{% extends 'layout/main_nav.html' %}
{% load static %}
{% block subnav %}
subpage
{% endblock %}
{% block content %}
<!-- One -->
<section id="One" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>사용자의 편의를 위한 회원가입</p>
            <h2>Sign Up</h2>
        </header>
    </div>
</section>

<div id="main" class="container">
    <!-- Form -->
    <h3>Sign Up</h3>

    <form method="post" action="#">
        {% csrf_token %}
        <div class="row uniform">
            <div class="12u$">
                <span>ID</span>
                <input type="text" name="username" id="username" value="" placeholder="UserID" />
            </div>
            <div class="6u$ 12u$(xsmall)">
                <span>First Name</span>
                <input type="text" name="Fname" id="Fname" value="" placeholder="First Name" />
            </div>
            <div class="6u$ 12u$(xsmall)">
                <span>Last Name</span>
                <input type="text" name="Lname" id="Lname" value="" placeholder="Last Name" />
            </div>
            <div class="12u$">
                <span>Email</span>
                <input type="email" name="email" id="email" value="" placeholder="Email" />
            </div>
            <div class="12u$">
                <span>Phone Number</span>
                <input type="text" name="phone" id="phone" value="" placeholder="use only number" />
            </div>
            <div class="12u$">
                <span>Password</span>
                <input type="password" name="pwd" id="password" value="" placeholder="Password" />
            </div>
            <div class="12u$">
                <span>Birth Day</span>
                <input type="date" name="birth" id="birth" value="" placeholder="" />
            </div>
            <!-- Break -->
            <!-- <div class="12u$">
                <div class="select-wrapper">
                    <select name="group" id="group">
                        <option selected="disabled" value="">- Groups -</option>
                        <option value=""></option>
                    </select>
                </div>
            </div> -->
            <!-- Break -->
            <div class="12u$">
                <ul class="actions">
                    <li><input type="submit" value="Submit" /></li>
                    <li><input type="reset" value="Reset" class="alt" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>
{% endblock %}