{% extends 'layout/main_nav.html' %}
{% load static %}
{% block alt %}
alt
{% endblock %}
{% block content %}
<!-- Banner -->
<section class="banner full">
    <article>
        <img src="/static/bg_image/cruise-background.jpg" alt="" />
        <div class="inner">
            <header>
                <p>A free responsive web site template by <a href="https://templated.co">TEMPLATED</a></p>
                <h2>Compose 2.0</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="/static/bg_image/cruise-background2.jpg" alt="" />
        <div class="inner">
            <header>
                <p>Lorem ipsum dolor sit amet nullam feugiat</p>
                <h2>Magna etiam</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="/static/bg_image/cruise-background3.jpg" alt="" />
        <div class="inner">
            <header>
                <p>Sed cursus aliuam veroeros lorem ipsum nullam</p>
                <h2>Tempus dolor</h2>
            </header>
        </div>
    </article>
</section>

{% endblock %}