{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap core CSS -->
    <link href="/static/mainsite/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="/static/mainsite/vendor/jquery/jquery.min.js"></script>
    <script src="/static/mainsite/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/static/mainsite/icon/boat_icon.ico" rel="shortcut icon" type="image/x-icon">
    <title>{% block title %}Cruise Site{% endblock %}</title>
</head>

<body>
    {% block navbar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>

</html>